:root {
  --bs-blue: #9921fb;
  --bs-primary-rgb: 153, 33, 251;
  --bs-primary: #9921fb;
  --bs-link-color: #9921fb;
  --size: 200px;
}
.btn-primary {
  --bs-btn-bg: #9921fb;
  --bs-btn-border-color: #9921fb;
  --bs-btn-disabled-bg: #9921fb;
  --bs-btn-disabled-border-color: #9921fb;
}

.btn-outline-primary {
  --bs-btn-color: #9921fb;
  --bs-btn-border-color: #9921fb;
  --bs-btn-hover-bg: #9921fb;
  --bs-btn-hover-border-color: #9921fb;
  --bs-btn-active-bg: #9921fb;
  --bs-btn-active-border-color: #9921fb;
  --bs-btn-disabled-color: #9921fb;
  --bs-btn-disabled-border-color: #9921fb;
}
*, ::after, ::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  transition: all 500ms;
}
html {
  scroll-behavior: smooth;
}

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

/* Thème sombre */
body.dark-theme {
  background-color: #333;
  color: #f0f0f0;
}

body.dark-theme .container {
  background-color: #222;
}
/* Thème clair */
body.light-theme {
  background-color: #f0f0f0;
  color: #333;
}

body.light-theme .container {
  background-color: #fff;
}


a {
  color: #9921fb;
  /* text-decoration: none; */
}

/* .container {
  animation: bounceOut 700ms ;
} */

@keyframes fade {
  0% {
    opacity: 0.6;
  }
  50% {
    opacity: 0.8;
  }
  100% { 
    opacity: 1;
  }
}

@keyframes bounceOut {
  0% {
    transform: scale(0.6);
  }
  50% {
    transform: scale(1.001);
  }
  100% { 
    transform: scale(1);
  }
}
@keyframes spinCube {
  0% { transform: translateZ(-100px) rotateX(  0deg) rotateY(  0deg); }
  100% { transform: translateZ(-100px) rotateX(360deg) rotateY(360deg); }
}
.cube-container {
  /* perspective: 400px; */
  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

}

/* 3D CUBE PARAMETERS */
.cube {
  width:var(--size);
  height:var(--size);
  transform-style: preserve-3d;  
  position: relative;
}
.side {
  position:absolute;
  opacity: 0.95;
  width:var(--size);
  height:var(--size);
}
.front {
  transform: translateZ(calc(var(--size) / 2)); 
}
.top {
  transform: rotateX(-270deg) translateY(calc(-1 * ( var(--size) / 2 ) ) );
  transform-origin: top center;
}
.bottom {
  transform: rotateX(270deg) translateY(calc( var(--size) / 2) );
  transform-origin: bottom center; 
}
.right {
  transform: rotateY(-270deg) translateX(calc( var(--size) / 2) );
  transform-origin: top right;
}
.left {
  transform: rotateY(270deg) translateX(calc(-1 * ( var(--size) / 2 ) ));
  transform-origin: center left;
}
.back {
  transform: rotateY(-180deg) translateZ(calc(( var(--size) / 2 ) ));
}


.card-3d {
  transform:
    perspective(800px)
    rotateY(25deg) 
    scale(0.8)
    rotateX(10deg);
  filter: blur(1px);
  box-shadow:
    /* 1px 1px 0 1px #f9f9fb, */
    -1px 0 28px 0 rgba(34, 33, 81, 0.01),
    28px 28px 28px 0 rgba(34, 33, 81, 0.25);
  opacity: 0.9;
  transition: 0.6s ease all;
}
.card-3d:hover {
  transform:
    perspective(800px)
    rotateY(-15deg)
    translateY(-50px)
    rotateX(10deg)
    scale(0.9);
  filter: blur(0);
  box-shadow:
    /* 1px 1px 0 1px #f9f9fb, */
    -1px 0 28px 0 rgba(34, 33, 81, 0.01),
    54px 54px 28px -10px rgba(34, 33, 81, 0.15);
  opacity: 1;
}